
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>MetFlix | Profile </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/styles/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!--<link href="css/bootstrap.css" rel='stylesheet' type='text/css' />-->
<!-- Custom Theme files -->
<link href="../static/styles/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/styles/css/font-awesome.css" rel="stylesheet"> 
<script src="../static/styles/js/jquery.min.js"> </script>
<script src="../static/styles/js/bootstrap.min.js"> </script>
  
<!-- Mainly scripts -->
<script src="../static/styles/js/jquery.metisMenu.js"></script>
<script src="../static/styles/js/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<link href="../static/styles/css/custom.css" rel="stylesheet">
<script src="../static/styles/js/custom.js"></script>
<script src="../static/styles/js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			if (!screenfull.enabled) {
				return false;
			}

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			

			
		});
		</script>



</head>
<body>
<div id="wrapper">
        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="index">METFLIX</a></h1>         
			   </div>
			 <div class=" border-bottom">
        	<div class="full-left">
        	  <section class="full-top">
				<button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
			</section>
			<form action="search_movie" name="search-box" class=" navbar-left-right" method="post" >
              <input type="text"  value="Search Title..." name="search-box" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search Title...';}">
              <input type="submit" value="" name="search-box" class="fa fa-search">
            </form>
            <div class="clearfix"> </div>
           </div>
     
       
            <!-- Brand and toggle get grouped for better mobile display -->
		 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="drop-men" >
		        <ul class=" nav_1">
		           
		    		
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class=" name-caret">{{this_username}}<i class="caret"></i></span><img src="../static/styles/images/avt-cat.png" height="55" width="55"></a>
		              <ul class="dropdown-menu " role="menu">
		                <li><a href="profile"><i class="fa fa-user"></i>Edit Profile</a></li>
		                <li><a href="logout"><i class="fa fa-sign-out"></i>Log Out</a></li>
		              </ul>
		            </li>
		           
		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">
       
     </div>
	  
		    
		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
				
                    <li>
                        <a href="index" class=" hvr-bounce-to-right"><i class="fa fa-desktop nav_icon "></i><span class="nav-label">Recommendations</span> </a>
                    </li>
                   
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-film nav_icon"></i> <span class="nav-label">Movies</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="show_movie?genre=action" class=" hvr-bounce-to-right"> <i class="fa fa-fighter-jet nav_icon"></i>Action</a></li>
						<li><a href="show_movie?genre=romance" class=" hvr-bounce-to-right"><i class="fa fa-heart nav_icon"></i>Romance</a></li>
						<li><a href="show_movie?genre=comedy" class=" hvr-bounce-to-right"><i class="fa fa-smile-o nav_icon"></i>Comedy</a></li>
						<li><a href="show_movie?genre=drama" class=" hvr-bounce-to-right"><i class="fa fa-video-camera nav_icon"></i>Drama</a></li>
                            <li><a href="show_movie?genre=documentary" class=" hvr-bounce-to-right"><i class="fa fa-book nav_icon"></i>Documentary</a></li>
						<li><a href="show_movie?genre=thriller" class=" hvr-bounce-to-right"><i class="fa fa-certificate nav_icon"></i>Thriller</a></li>
					   </ul>
                    </li>
                     
                     
                   
                    
                   
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="signin" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i>Log Out</a></li>
                            <li><a href="profile" class=" hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i>Edit Profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			</div>
        </nav>
		 <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
 	<!--banner-->	
		    <div class="banner">
		    	<h2>
				<a href="index.html">Home</a>
				<i class="fa fa-angle-right"></i>
				<span>Profile</span>
				</h2>
		    </div>
		<!--//banner-->
 	 <!--gallery-->
 	 <div class=" profile">

		<div class="profile-bottom" >
			<h3><i class="fa fa-user"></i>Profile</h3>
			<div class="profile-bottom-top" align="center">
			
			<div class="col-md-9 profile-text" align="right">
				<table align="center">
				<tr>
				<td>Name</td>
				<td>:</td>
				<td>{{ user_info_list[0][0]}}</td>
				<!-- <td>Jack Dorsey</td> -->
				</tr>
				<tr>
				<td>Gender</td>
				<td>:</td>
				<td>{{ user_info_list[0][1]}}</td>
				</tr>
				<tr>
				<td>Mobile</td>
				<td>:</td>
				<td>{{ user_info_list[0][2]}}</td>
				</tr>
				<tr>
				<td>Email</td>
				<td> :</td>
				<td><a href="#">{{ user_info_list[0][3]}}</a></td>
				</tr>
				<tr>
				<td>Description</td>
				<td>:</td>
				<td>{{ user_info_list[0][4]}}</td>
				</tr>
				</table>
				
			</div>
			<div class="clearfix"></div>
			</div>
			<div class="profile-bottom-bottom">
			<div class="col-md-4 profile-fo" >
				<!-- <h4>23,5k</h4> -->
				<!-- <p>Friends</p> -->
				<!-- <a href="#" class="pro"><i class="fa fa-plus-circle"></i>Follow</a> -->
		<!-- 	</div>
			<div class="col-md-4 profile-fo">
				<h4>348</h4>
				<p>Friends</p>
				<a href="#" class="pro1"><i class="fa fa-user"></i>Follow</a>
			</div> -->
			<!-- <div class="col-md-4 profile-fo">
				<h4>23,5k</h4>
				<p>Snippets</p>
				<a href="#"><i class="fa fa-cog"></i>Options</a>
			</div> -->
			<div class="clearfix"></div>
			</div>
			<div class="profile-btn">
			<a href="profile-edit" >
                <button type="button" class="btn bg-red">Edit</button>
                </a>
           <div class="clearfix"></div>
			</div>
			 
			
		</div>
	</div>
	<!--//gallery-->
		<!---->
<div class="copy">
            <p> Author: Hongyang Bai, Ling Zhong, Zitong Zhang, Qi Xin</p>    </div>
		</div>
		</div>
		<div class="clearfix"> </div>
       </div>
     
<!---->

<!--scrolling js-->
	<script src="../static/styles/js/jquery.nicescroll.js"></script>
	<script src="../static/styles/js/scripts.js"></script>
	<!--//scrolling js-->

</body>
</html>



