
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>药品</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="../static/styles/css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../static/styles/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/styles/css/font-awesome.css" rel="stylesheet"> 
<script src="../static/styles/js/jquery.min.js"> </script>
<!-- Mainly scripts -->
<script src="../static/styles/js/jquery.metisMenu.js"></script>
<script src="../static/styles/js/jquery.slimscroll.min.js"></script>
<!-- Custom and plugin javascript -->
<link href="../static/styles/css/custom.css" rel="stylesheet">
<script src="../static/styles/js/custom.js"></script>
<script src="../static/styles/js/screenfull.js"></script>
		<script>
		$(function () {
			$('#supported').text('Supported/allowed: ' + !!screenfull.enabled);

			

			$('#toggle').click(function () {
				screenfull.toggle($('#container')[0]);
			});
			

			
		});
		</script>



<!----->

<!--skycons-icons-->
<script src="js/skycons.js"></script>
<!--//skycons-icons-->
</head>
<body>
<div id="wrapper">


        <nav class="navbar-default navbar-static-top" role="navigation">
             <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <h1> <a class="navbar-brand" href="index">药急送</a></h1>         
			   </div>
			 <div class=" border-bottom">
        	<div class="full-left">
        	  <section class="full-top">
				<button id="toggle"><i class="fa fa-arrows-alt"></i></button>	
			</section>
			<form action="search_medicine" name="search-box" class=" navbar-left-right" method="post" >
              <input type="text"  value="搜索药名..." name="search-box" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '搜索药名...';}">
              <input type="submit" value="" name="search-box" class="fa fa-search">
            </form>
            <div class="clearfix"> </div>
           </div>
     
       
            <!-- Brand and toggle get grouped for better mobile display -->
		 	
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="drop-men" >
		        <ul class=" nav_1">

						
		           
		    		
					<li class="dropdown">
						

		              <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown"><span class="name-caret" id="username-head">{{this_username}},账户余额:{{this_account}}<i class="caret"></i></span><img src="../static/styles/images/avt-cat.png"  height="55" width="55"></a>
		              <ul class="dropdown-menu " role="menu">
		                <li><a href="profile"><i class="fa fa-user"></i>编辑用户信息</a></li>
		                <li><a href="logout"><i class="fa fa-sign-out"></i>退出</a></li>
		              </ul>
		            </li>
		           
		        </ul>
		     </div><!-- /.navbar-collapse -->
			<div class="clearfix">
       
     </div>
	  
		    <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
				
                    <li>
                        <a href="show_shoppingcart" class=" hvr-bounce-to-right"><i class="fa fa-desktop nav_icon "></i><span class="nav-label">购物车</span> </a>
                    </li>
                   
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-film nav_icon"></i> <span class="nav-label">药品</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="show_medicine?genre=感冒发烧" class=" hvr-bounce-to-right"> <i class="fa fa-fighter-jet nav_icon"></i>感冒发烧</a></li>
						<li><a href="show_medicine?genre=腹泻" class=" hvr-bounce-to-right"><i class="fa fa-heart nav_icon"></i>腹泻</a></li>
						<li><a href="show_medicine?genre=减肥" class=" hvr-bounce-to-right"><i class="fa fa-smile-o nav_icon"></i>减肥</a></li>
						<li><a href="show_medicine?genre=跌打损伤" class=" hvr-bounce-to-right"><i class="fa fa-video-camera nav_icon"></i>跌打损伤</a></li>
						<li><a href="show_medicine?genre=其它" class=" hvr-bounce-to-right"><i class="fa fa-chevron-circle-down nav_icon"></i>其它</a></li>

					   </ul>
                    </li>
					 
                     
                    <li>
                        <a href="#" class=" hvr-bounce-to-right"><i class="fa fa-cog nav_icon"></i> <span class="nav-label">Settings</span><span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href="logout" class=" hvr-bounce-to-right"><i class="fa fa-sign-out nav_icon"></i>Log Out</a></li>
                            <li><a href="profile" class=" hvr-bounce-to-right"><i class="fa fa-user nav_icon"></i>Edit Profile</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
			</div>
        </nav>
        <div id="page-wrapper" class="gray-bg dashbard-1">
       <div class="content-main">
 
  		<!--banner-->	
		    <div class="banner">
		   
				<h2>
				<a href="index">主页</a>
				<i class="fa fa-angle-right"></i>
				<span>药品展示</span>
				<i class="fa fa-angle-right"></i>
				<!--<span>{{show_what}}</span>-->
				<span>热销药品</span>
				</h2>
		    </div>


		<!--//banner-->
		<!--content-->
		
	
  
		<div class="content-mid">
		<!-- <img src="http://img.omdbapi.com/?i=tt1375666&apikey=3920cde0&h=1000">	 -->
			
			<div class="col-md-12">
		<div class="middle-content">
		<h3 id="movie-for">热销药品</h3>
					<!-- start content_slider -->

		<div id="owl-demo" class="owl-carousel text-center movie-gallery">
			
		</div>

		<script>
			var show_title = '{{show_what}}'; 
            //var show_title = '热销药品'; 
			movie_for = document.getElementById("movie-for");
			movie_for.innerHTML = show_title;


			var medicine_info = {{medicine_info_list|tojson}};

			this_container = document.getElementById("owl-demo");

			for (var i = 0; i < medicine_info.length; i++) {
				



				this_movie = document.createElement("DIV");
				this_movie.className = "item";
				this_movie_link = document.createElement("A");
				this_movie_link.setAttribute("href", "medicine?medicine_id=".concat(medicine_info[i]['medicine_id']));

				this_movie_cap = document.createElement("P");
				this_movie_cap.innerHTML = medicine_info[i]['name'];
				this_movie_cap1 = document.createElement("P1");
                this_movie_cap1.innerHTML = "数量：" + medicine_info[i]['number'];
				this_pic = document.createElement("IMG");
				this_pic.className = "lazyOwl img-responsive"
				//this_pic.setAttribute("data-src", movie_info[i]['poster']);
				this_pic.setAttribute("src", medicine_info[i]['url']);
				//this_pic.setAttribute("src", "../static/styles/images/avt-cat.png");

				this_movie.appendChild(this_movie_link);
				this_movie_link.appendChild(this_pic);
				this_movie_link.appendChild(this_movie_cap);
				this_movie_link.appendChild(this_movie_cap1);
				this_container.appendChild(this_movie);
			}

			


		</script>

		</div>
		<!--//sreen-gallery-cursual---->
		<!-- requried-jsfiles-for owl -->
		<link href="../static/styles/css/owl.carousel.css" rel="stylesheet">
		<script src="../static/styles/js/owl.carousel.js"></script>
			<script>
				$(document).ready(function() {
					$("#owl-demo").owlCarousel({
						items : 4,
    					loop:true,
						lazyLoad : true,
						autoPlay : true,
    					autoplayTimeout:100,
    					autoplayHoverPause:true,
						pagination : true,
						nav:true,
					});
				$('.play').on('click',function(){
				    owl.trigger('autoplay.play.owl',[100])
				})
				$('.stop').on('click',function(){
				    owl.trigger('autoplay.stop.owl')
				})
				});
			</script>
		<!-- //requried-jsfiles-for owl -->
			</div>
			<div class="clearfix"> </div>
		</div>
		
		<form action = "clean_shoppingcart" method = "POST" id="clear_shoppingcart">

						</br>
						<button type="submit" class="btn btn-warning" id="btn1" name="btn_cl" onclick="click_clean()" value="1">清空购物车</button>

					        
		</form>

	    
		<form action = "pay" method = "POST" id="payment">

                        </br>
						<button type="submit" class="btn btn-warning" id="btn2" name="btn_cl" onclick="click_pay()" value="1">结算</button>
	        
		</form>
		<script>

                            function click_clean() {

								btn1.style.backgroundColor = "#D95459";
	                            alert('购物车已清空！')
							
							}

							function click_pay(){
								btn2.style.backgroundColor = "#D95459";
	                            alert('结算成功！')
							}
        </script>
		<!---->
<div class="copy">
            <p> Author: Tan Xin</p>
	    </div>
		</div>
		<div class="clearfix"> </div>
       </div>
     </div>
<!---->
<!--scrolling js-->
	<script src="../static/styles/js/jquery.nicescroll.js"></script>
	<script src="../static/styles/js/scripts.js"></script>
	<!--//scrolling js-->
	<script src="../static/styles/js/bootstrap.min.js"> </script>
</body>
</html>

