
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
<title>药急送 | 登陆</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Minimal Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href="css/bootstrap.min.css" rel='stylesheet' type='text/css' />
<!-- Custom Theme files -->
<link href="../static/styles/css/style.css" rel='stylesheet' type='text/css' />
<link href="../static/styles/css/font-awesome.css" rel="stylesheet"> 
<script src="../static/styles/js/jquery.min.js"> </script>
<script src="../static/styles/js/bootstrap.min.js"> </script>
</head>
<body>
	<div class="login">

		<h1><a href="signin">药急送</a></h1>
		<div class="login-bottom">
			<h2>登陆</h2>
			


			<form method="post">



			<div class="col-md-6">
				<div class="login-mail">
					<input type="text" placeholder="用户名" required="" name="user-username">
					<i class="fa fa-user"></i>
				</div>
				<div class="login-mail">
					<input type="password" placeholder="密码" required="" name="user-password">
					<i class="fa fa-lock"></i>
				</div>

			
			</div>
			<div class="col-md-6 login-do">
				<label class="hvr-shutter-in-horizontal login-sub">
					<input type="submit" value="登陆">
				</label>
				
			</div>
			</form>
			<div class="col-md-6 login-do">
			<p>还未注册账户?</p>
				<label class="hvr-shutter-in-horizontal login-sub">
					<a href="signup">
					<input type="submit" value="注册">
					</a>
				</label>
			
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>
		<!---->
<div class="copy-right">
            <p> Author: Tan Xin</p>
<!---->
<!--scrolling js-->
	<script src="../static/styles/js/jquery.nicescroll.js"></script>
	<script src="../static/styles/js/scripts.js"></script>
	<!--//scrolling js-->
</body>
</html>

